.box-head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
}

.box-head .head-img {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 3;

    width: 50%;
    max-width: 90px;

    border-radius: 50%;
}

.box-head .head-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 7;
}

.box-head .head-info .head-info-item {
    display: flex;
    justify-content: space-around;
}

.box-head .head-info .head-info-item .info-counselor-name {
    font-weight: bold;
}

.box-head .head-info .head-info-item .info-counselor-name::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 1rem;
    background-color: #E4E4E4;
    margin-left: 2.5rem;
}

.box-head .head-info .head-info-item .info-counselor-category {
    color: #FA709A;
    font-weight: bold;
}